




<!-- detail Start -->
<section class="section service bg-secondary position-relative">
	<img src="/assets/images/bg/feature-bg.png" alt="" class="overlay-shape">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<span class="h5 text-color text-uppercase" style="color:darkgoldenrod;">
					early access
				</span>
				<h3 class="mb-5 mt-2 text-white">Monitor data as easy as <br /> one-two-three</h3>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6">
				<div class="service-item mb-4 mb-lg-0 p-0">
					<i class="ti-ruler-pencil text-color" style="color:darkgoldenrod; "></i>
					<!-- <img src="/assets/images/icons/research-light.png" width="80px" style="opacity: 0.6;"> -->

					<h4 class="my-4 text-white">Connect </h4>
					<p class="text-justify">A simple command connects your data using our agent  </p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="service-item mb-4 mb-lg-0 p-0">
					<i class="ti-announcement text-color" style="color:darkgoldenrod; "></i>
					<!-- <img src="/assets/images/icons/implement-light.png" width="80px" style="opacity: 0.6;"> -->
					<h4 class="my-4 text-white">Monitor</h4>
					<p class="text-justify">The agent profiles your data, sending only metadata to ncode.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="service-item mb-4 mb-lg-0 p-0">
					<i class="ti-palette text-color" style="color:darkgoldenrod;" ></i>
					<!-- <img src="/assets/images/icons/rocket-light.png" width="80px" style="opacity: 0.6;"> -->
                    <h4 class="my-4 text-white">Action </h4>
					<p class="text-justify">Receive actionable email alerts as the data changes.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- detail End -->



<!-- community Start -->
<section class="pt200 section portfolio-2">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="counter-content-dark ">
					<div>
            <!-- <img src="/assets/images/icons/browser.png" style="margin: 8px; max-height: 64px;"> -->
            <h2 class="mb-0">
                <span class="counter">Connect with our Community </span></h2>
					</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-9 col-md-9">
        <div class="counter-content-dark ">
			<div>
            <!-- <img src="/assets/images/icons/browser.png" style="margin: 8px; max-height: 64px;"> -->
            <!-- <h2 class="mb-0"><span class="counter">Connect with our Community </span></h2> -->
			<p class="text-lg" style="font-size: 1.1em;">
              Join our Discord server and connect with our team and community of data scientists and engineers around the world.
            </p>
			</div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3">
        <div class="counter-content-dark ">
		<div>
            <!-- <img src="/assets/images/icons/browser.png" style="margin: 8px; max-height: 64px;"> -->
            <h2 class="mb-0"><span class="counter">  </span></h2>
			<p class="mb-0">
              <a href="{{banner.button.link}}" class="btn btn-secondary" style="text-transform: none;"> Join ncode Discord </a>
            </p>
			</div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- community End -->
