<!-- use cases Start -->
<section class="pt200 section portfolio-2">
  <div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h3 class=""><div class="ncode">n</div>code use cases</h3>
			</div>
		</div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="mb-4 mt-2 text-center text-sm">
          Detect issues, ensure compliance and <br />increase productivity when collaborating on data.
        </div>
      </div>
    </div>

    <div class="row portfolio-gallery">

      <div class="col-lg-4 col-md-6">

        <div class="counter-content-dark card border-0 rounded-0 shadow-lg">
					<!-- <i class="/assets/images/icons/browser-light.png mr-4"></i> -->
					<div>
            <img src="/assets/images/icons/browser.png" style="margin: 8px; max-height: 64px;">
            <h2 class="mb-0"><span class="counter">Data Engineering</span></h2>
						<p class="mb-0">
              Connect through an agent to allow ncode intelligent backend software analyze and generate data quality reports and alerts.
            </p><br />
            <p>Forward alerts to the appropriate stakeholder, via the right channel</p>

					</div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="counter-content-dark card border-0 rounded-0 shadow-lg">
					<!-- <i class="/assets/images/icons/browser-light.png mr-4"></i> -->
					<div>
            <img src="/assets/images/icons/browser.png" style="margin: 8px; max-height: 64px;">
						<h2 class="mb-0"><span class="counter">Data Science</span></h2>
            <p class="mb-0">
            Data & Analytics team seamlessly connects to Ncode to build, finesse and test models.
          </p> <br />
            <p>Collaboration is powered by mix and match data/model library and data remains in an encoded form at all time enabling compliance. </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="counter-content-dark card border-0 rounded-0 shadow-lg">
					<!-- <i class="/assets/images/icons/browser-light.png mr-4"></i> -->
					<div>
            <img src="/assets/images/icons/browser.png" style="margin: 8px; max-height: 64px;">
						<h2 class="mb-0"><span class="counter">Business Application</span></h2>
            <p class="mb-0">
            Insurer builds products based on customer data located in different jurisdictions, where raw data export is prohibited under local regulations.
            </p>
            <p>Each jurisdiction encodes the data and sends to the central facility in secure format for processing and analytics.</p>
        </div>
      </div>

      </div>


    </div>
  </div>
</section>
<!-- use cases End -->
